In [2]:
import pandas as pd

In [3]:
loan_dir = "/content/drive/MyDrive/Final Project/loan_data.csv"

In [4]:
data = pd.read_csv(loan_dir)

In [5]:
data.head(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Columns: 158 entries, SK_ID_CURR to NFLAG_INSURED_ON_APPROVAL
dtypes: float64(80), int64(46), object(32)
memory usage: 1.7+ GB

In [7]:
data.shape

(1413701, 158)

In [8]:
data.isnull().mean() * 100

SK_ID_CURR                    0.000000
TARGET                        0.000000
NAME_CONTRACT_TYPE_x          0.000000
CODE_GENDER                   0.000000
FLAG_OWN_CAR                  0.000000
                               ...
DAYS_FIRST_DUE               39.690571
DAYS_LAST_DUE_1ST_VERSION    39.690571
DAYS_LAST_DUE                39.690571
DAYS_TERMINATION             39.690571
NFLAG_INSURED_ON_APPROVAL    39.690571
Length: 158, dtype: float64

In [9]:
# This will drop columns where more than 50% of the values are null.

data = data.dropna(axis=1)

In [10]:
data.shape

(1413701, 77)

In [11]:
data.duplicated().sum()

0

In [12]:
data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,SK_ID_PREV,AMT_APPLICATION,HOUR_APPR_PROCESS_START_y,NFLAG_LAST_APPL_IN_DAY,DAYS_DECISION,SELLERPLACE_AREA
count,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,...,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06,1.413701e+06
mean,2.784813e+05,8.655296e-02,4.048933e-01,1.733160e+05,5.875537e+05,2.074985e-02,-1.632105e+04,6.870203e+04,-5.003233e+03,-3.034563e+03,...,4.196078e-03,3.989528e-04,3.671215e-04,2.242341e-04,1.922744e+06,1.752436e+05,1.247893e+01,9.964321e-01,-8.803670e+02,3.149878e+02
std,1.028118e+05,2.811789e-01,7.173454e-01,1.985734e+05,3.849173e+05,1.334702e-02,4.344557e+03,1.452777e+05,3.551051e+03,1.507376e+03,...,6.464112e-02,1.996983e-02,1.915690e-02,1.497278e-02,5.327153e+05,2.936222e+05,3.331474e+00,5.962560e-02,7.835402e+02,7.695082e+03
min,1.000020e+05,0.000000e+00,0.000000e+00,2.565000e+04,4.500000e+04,2.900000e-04,-2.520100e+04,-1.791200e+04,-2.467200e+04,-7.197000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000001e+06,0.000000e+00,0.000000e+00,0.000000e+00,-2.922000e+03,-1.000000e+00
25%,1.893640e+05,0.000000e+00,0.000000e+00,1.125000e+05,2.700000e+05,1.003200e-02,-1.998000e+04,-2.828000e+03,-7.510000e+03,-4.319000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.461346e+06,1.975050e+04,1.000000e+01,1.000000e+00,-1.313000e+03,-1.000000e+00
50%,2.789920e+05,0.000000e+00,0.000000e+00,1.575000e+05,5.084955e+05,1.885000e-02,-1.604400e+04,-1.281000e+03,-4.508000e+03,-3.330000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.922698e+06,7.087050e+04,1.200000e+01,1.000000e+00,-5.820000e+02,4.000000e+00
75%,3.675560e+05,0.000000e+00,1.000000e+00,2.070000e+05,8.079840e+05,2.866300e-02,-1.273900e+04,-2.840000e+02,-2.001000e+03,-1.783000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.384012e+06,1.800000e+05,1.500000e+01,1.000000e+00,-2.710000e+02,8.500000e+01
max,4.562550e+05,1.000000e+00,1.900000e+01,1.170000e+08,4.050000e+06,7.250800e-02,-7.489000e+03,3.652430e+05,0.000000e+00,0.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.845381e+06,5.850000e+06,2.300000e+01,1.000000e+00,-1.000000e+00,4.000000e+06

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413701 entries, 0 to 1413700
Data columns (total 77 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   SK_ID_CURR                    1413701 non-null  int64
 1   TARGET                        1413701 non-null  int64
 2   NAME_CONTRACT_TYPE_x          1413701 non-null  object
 3   CODE_GENDER                   1413701 non-null  object
 4   FLAG_OWN_CAR                  1413701 non-null  object
 5   FLAG_OWN_REALTY               1413701 non-null  object
 6   CNT_CHILDREN                  1413701 non-null  int64
 7   AMT_INCOME_TOTAL              1413701 non-null  float64
 8   AMT_CREDIT_x                  1413701 non-null  float64
 9   NAME_INCOME_TYPE              1413701 non-null  object
 10  NAME_EDUCATION_TYPE           1413701 non-null  object
 11  NAME_FAMILY_STATUS            1413701 non-null  object
 12  NAME_HOUSING_TYPE             1413701 non-null  object
 13  REGION_POPULATION_RELATIVE    1413701 non-null  float64
 14  DAYS_BIRTH                    1413701 non-null  int64
 15  DAYS_EMPLOYED                 1413701 non-null  int64
 16  DAYS_REGISTRATION             1413701 non-null  float64
 17  DAYS_ID_PUBLISH               1413701 non-null  int64
 18  FLAG_MOBIL                    1413701 non-null  int64
 19  FLAG_EMP_PHONE                1413701 non-null  int64
 20  FLAG_WORK_PHONE               1413701 non-null  int64
 21  FLAG_CONT_MOBILE              1413701 non-null  int64
 22  FLAG_PHONE                    1413701 non-null  int64
 23  FLAG_EMAIL                    1413701 non-null  int64
 24  CNT_FAM_MEMBERS               1413701 non-null  float64
 25  REGION_RATING_CLIENT          1413701 non-null  int64
 26  REGION_RATING_CLIENT_W_CITY   1413701 non-null  int64
 27  WEEKDAY_APPR_PROCESS_START_x  1413701 non-null  object
 28  HOUR_APPR_PROCESS_START_x     1413701 non-null  int64
 29  REG_REGION_NOT_LIVE_REGION    1413701 non-null  int64
 30  REG_REGION_NOT_WORK_REGION    1413701 non-null  int64
 31  LIVE_REGION_NOT_WORK_REGION   1413701 non-null  int64
 32  REG_CITY_NOT_LIVE_CITY        1413701 non-null  int64
 33  REG_CITY_NOT_WORK_CITY        1413701 non-null  int64
 34  LIVE_CITY_NOT_WORK_CITY       1413701 non-null  int64
 35  ORGANIZATION_TYPE             1413701 non-null  object
 36  DAYS_LAST_PHONE_CHANGE        1413701 non-null  float64
 37  FLAG_DOCUMENT_2               1413701 non-null  int64
 38  FLAG_DOCUMENT_3               1413701 non-null  int64
 39  FLAG_DOCUMENT_4               1413701 non-null  int64
 40  FLAG_DOCUMENT_5               1413701 non-null  int64
 41  FLAG_DOCUMENT_6               1413701 non-null  int64
 42  FLAG_DOCUMENT_7               1413701 non-null  int64
 43  FLAG_DOCUMENT_8               1413701 non-null  int64
 44  FLAG_DOCUMENT_9               1413701 non-null  int64
 45  FLAG_DOCUMENT_10              1413701 non-null  int64
 46  FLAG_DOCUMENT_11              1413701 non-null  int64
 47  FLAG_DOCUMENT_12              1413701 non-null  int64
 48  FLAG_DOCUMENT_13              1413701 non-null  int64
 49  FLAG_DOCUMENT_14              1413701 non-null  int64
 50  FLAG_DOCUMENT_15              1413701 non-null  int64
 51  FLAG_DOCUMENT_16              1413701 non-null  int64
 52  FLAG_DOCUMENT_17              1413701 non-null  int64
 53  FLAG_DOCUMENT_18              1413701 non-null  int64
 54  FLAG_DOCUMENT_19              1413701 non-null  int64
 55  FLAG_DOCUMENT_20              1413701 non-null  int64
 56  FLAG_DOCUMENT_21              1413701 non-null  int64
 57  SK_ID_PREV                    1413701 non-null  int64
 58  NAME_CONTRACT_TYPE_y          1413701 non-null  object
 59  AMT_APPLICATION               1413701 non-null  float64
 60  WEEKDAY_APPR_PROCESS_START_y  1413701 non-null  object
 61  HOUR_APPR_PROCESS_START_y     1413701 non-null  int64
 62  FLAG_LAST_APPL_PER_CONTRACT   1413701 non-null  object
 63  NFLAG_LAST_APPL_IN_DAY        1413701 non-null  int64
 64  NAME_CASH_LOAN_PURPOSE        1413701 non-null  object
 65  NAME_CONTRACT_STATUS          1413701 non-null  object
 66  DAYS_DECISION                 1413701 non-null  int64
 67  NAME_PAYMENT_TYPE             1413701 non-null  object
 68  CODE_REJECT_REASON            1413701 non-null  object
 69  NAME_CLIENT_TYPE              1413701 non-null  object
 70  NAME_GOODS_CATEGORY           1413701 non-null  object
 71  NAME_PORTFOLIO                1413701 non-null  object
 72  NAME_PRODUCT_TYPE             1413701 non-null  object
 73  CHANNEL_TYPE                  1413701 non-null  object
 74  SELLERPLACE_AREA              1413701 non-null  int64
 75  NAME_SELLER_INDUSTRY          1413701 non-null  object
 76  NAME_YIELD_GROUP              1413701 non-null  object
dtypes: float64(7), int64(46), object(24)
memory usage: 830.5+ MB

In [14]:
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import LabelEncoder

In [16]:
string_cols = data.select_dtypes(include=['object']).columns

In [17]:
# create a LabelEncoder object
le = LabelEncoder()

# encode string columns
data[string_cols] = data[string_cols].apply(le.fit_transform)

In [18]:
data.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,NAME_INCOME_TYPE,...,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,NAME_YIELD_GROUP
0,100002,1,0,1,0,1,0,202500.0,406597.5,6,...,3,7,0,24,3,0,7,500,0,3
1,100003,0,0,0,0,0,0,270000.0,1293502.5,3,...,3,7,2,26,2,2,5,-1,10,3

In [20]:
correlation = data.corr()['TARGET']
correlation

SK_ID_CURR             -0.001246
TARGET                  1.000000
NAME_CONTRACT_TYPE_x   -0.032342
CODE_GENDER             0.052810
FLAG_OWN_CAR           -0.014511
                          ...
NAME_PRODUCT_TYPE       0.001476
CHANNEL_TYPE           -0.028832
SELLERPLACE_AREA       -0.002539
NAME_SELLER_INDUSTRY    0.020053
NAME_YIELD_GROUP       -0.033715
Name: TARGET, Length: 77, dtype: float64

In [21]:
correlation = correlation.abs()
correlation

SK_ID_CURR              0.001246
TARGET                  1.000000
NAME_CONTRACT_TYPE_x    0.032342
CODE_GENDER             0.052810
FLAG_OWN_CAR            0.014511
                          ...
NAME_PRODUCT_TYPE       0.001476
CHANNEL_TYPE            0.028832
SELLERPLACE_AREA        0.002539
NAME_SELLER_INDUSTRY    0.020053
NAME_YIELD_GROUP        0.033715
Name: TARGET, Length: 77, dtype: float64

In [22]:
sorted_feature = correlation.sort_values(ascending=False)
sorted_feature

TARGET                         1.000000
DAYS_BIRTH                     0.074866
DAYS_LAST_PHONE_CHANGE         0.059721
REGION_RATING_CLIENT_W_CITY    0.059700
REGION_RATING_CLIENT           0.056932
                                 ...
FLAG_DOCUMENT_21               0.000431
FLAG_DOCUMENT_12               0.000366
NAME_CONTRACT_TYPE_y           0.000185
FLAG_CONT_MOBILE               0.000059
FLAG_MOBIL                          NaN
Name: TARGET, Length: 77, dtype: float64

In [23]:
k_best = SelectKBest(score_func=f_classif, k=15)

In [27]:
val = data.drop("TARGET", axis=1)
tar = data['TARGET']

In [28]:
x_new = k_best.fit_transform(val,tar)

/usr/local/lib/python3.10/dist-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [17] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
/usr/local/lib/python3.10/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

In [29]:
selected_indices = k_best.get_support(indices=True)

In [31]:
selected_features = data.columns[selected_indices]
selected_features

Index(['NAME_CONTRACT_TYPE_x', 'AMT_CREDIT_x', 'NAME_INCOME_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'FLAG_MOBIL', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REG_CITY_NOT_LIVE_CITY', 'ORGANIZATION_TYPE',
       'FLAG_DOCUMENT_2', 'NAME_CASH_LOAN_PURPOSE', 'NAME_PAYMENT_TYPE'],
      dtype='object')

In [35]:
data01 = data[['NAME_CONTRACT_TYPE_x', 'AMT_CREDIT_x', 'NAME_INCOME_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'FLAG_MOBIL', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REG_CITY_NOT_LIVE_CITY', 'ORGANIZATION_TYPE',
       'FLAG_DOCUMENT_2', 'NAME_CASH_LOAN_PURPOSE', 'NAME_PAYMENT_TYPE']]

In [37]:
data01.head(2)

,NAME_CONTRACT_TYPE_x,AMT_CREDIT_x,NAME_INCOME_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,FLAG_MOBIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REG_CITY_NOT_LIVE_CITY,ORGANIZATION_TYPE,FLAG_DOCUMENT_2,NAME_CASH_LOAN_PURPOSE,NAME_PAYMENT_TYPE
0,0,406597.5,6,0.018801,-9461,-637,-3648.0,1,1.0,2,0,5,0,23,3
1,0,1293502.5,3,0.003541,-16765,-1188,-1186.0,1,2.0,1,0,39,0,24,3